BOT_VERSION=
CLIENT_ID=
DASHBOARD_PORT=
DISCORD_CALLBACK_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=
ENGINE_VERSION=
ERROR_WEBHOOK_URL=
FOOOCUS_BASE_URL=
LAVALINK_HOST=
LAVALINK_PASSWORD=
LAVALINK_PORT=
LAVALINK_SECURE=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
OLLAMA_BASE_URL=
OLLAMA_MODEL=
OMDB_API_KEY=
OWNER_IDS=
PARTNERSHIP=
PREFIX=
REDIS_URL=
SESSION_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
VERBA_API_KEY=
VERBA_CHARACTER_SLUG=
VERBA_SLUG_GENERAL=
VERBA_SLUG_OWNER=
VERBA_SLUG_PREMIUM=
WEBHOOK_PORT=